@import "tailwindcss";

@theme{

--color-primary: #607315;
--color-background: #FFFFFF;
--color-secondary-background: #FAFFE5;
--color-hover: #181818;

}


.text-mask-fade {
  background: linear-gradient(to bottom, #fff 40%, transparent 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}